
body {
/*    background-image: url("background03.jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/

}

.header{
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Sonsie One', cursive;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}


.vphoto{
    max-width: 100%;
    height: 30vw;
    object-fit: cover;
    overflow: hidden;
}



.navbar{
    font-family: 'Montserrat', sans-serif;
    /*font-style: italic;*/
    /*font-family: 'Open Sans', sans-serif;*/
    background: rgba(255,255,255,0);
    border: 1px solid #5aa2ff;
}

.nav-item a:active{
    background: #5aa2ff;
    color: white;
}

.nav-item a:hover{
    color: rgba(161, 165, 159, 0.44);
    background: white;
}


/*GALLERY 1*/
#gallery img {
    height: 40vw;
    object-fit: cover;
}
@media (min-width: 768px) {
    #gallery img {
        height: 25vw;
    }
}
@media (min-width: 992px) {
    #gallery img {
        height: 18vw;
    }
}
.carousel-item img {
    height: 60vw;
    object-fit: cover;
}
@media (min-width: 576px) {
    .carousel-item img {
        height: 350px;
    }
}


/*GALLERY 222222*/
#photos {
    opacity: .88;
}

#photos img {
    width: 30%;
    float: left;
    display: block;
    margin: 2px;
}

ul {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    display: block;
    max-width: 780px;
    text-align: center;
}

#overlay {
    background: rgba(0,0,0, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

#overlay img {
    margin: 10% auto 0;
    width: 550px;
    border-radius: 5px;
}

#photos {
    width: 100%;
}

#photo-gallery {
    width: 100%;
}