<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index = Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans|Sonsie+One|Montserrat:200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        /** { border: 1px solid red !important; }*/
    </style>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-12" style="text-align: center">
            <br>
            <a href="/">
                <h1 class=header style="text-align: center;">This is my first portfolio website</h1>
            </a>
        </div>

    </div>

    <div class="row">
        <div class="col-12" style="text-align: center">
            <p>Contact &emsp; | &emsp; About Me &emsp; |&emsp; Facebook &emsp; | &emsp; Instagram</p>
            <br>
        </div>
    </div>

    <div class="row">
        <!--NAVIGATION BAR-->
        <div class="col-4">
            <nav class="navbar">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Grid Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portrait">Portrait</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="transamerica">Trans America</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/natparks">National Parks</a>
                    </li>
                </ul>

            </nav>
        </div>

        <!--PHOTO CAROUSEL-->
        <div class="col-8">
            <div id="photos">
                <ul id="photo-gallery">
                    <li>
                        <a href="../pictures/9549918183_c314a70322_b.jpg">
                        <img src="../pictures/9549918183_c314a70322_b.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="maxkorzan_39224895574_2017-09-12%2008.45.31%202.jpg">
                        <img src="maxkorzan_39224895574_2017-09-12%2008.45.31%202.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="maxkorzan_25063959077_2017-09-06%2008.24.23%201.jpg">
                        <img src="maxkorzan_25063959077_2017-09-06%2008.24.23%201.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="../pictures/9552709816_17c362be8b_b.jpg">
                        <img src="../pictures/9552709816_17c362be8b_b.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="../pictures/9549916835_f9b67790dc_b.jpg">
                        <img src="../pictures/9549916835_f9b67790dc_b.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="../pictures/9549916529_dc1090b987_b.jpg">
                        <img src="../pictures/9549916529_dc1090b987_b.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="maxkorzan_39935671231_2017-09-06%2007.31.32%201.jpg">
                        <img src="maxkorzan_39935671231_2017-09-06%2007.31.32%201.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="maxkorzan_39037260265_2017-09-13%2005.24.42%201.jpg">
                        <img src="maxkorzan_39037260265_2017-09-13%2005.24.42%201.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="maxkorzan_39224938884_2017-09-06%2003.22.19%201.jpg">
                        <img src="maxkorzan_39224938884_2017-09-06%2003.22.19%201.jpg">
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="js.js"></script>
</body>
</html>